* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-image: url('portfolio2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7fffd4;
    padding: 2rem 4rem;
}

.form {
    background-color: rgb(253, 253, 253);
    padding: 1rem;
    margin: 0 auto;
    border-radius: 8px;
    color: #001120;
    font-family: verdana;
    font-size: 1.15rem;
    width: 35%;
}
label {
    margin-top: 8px;
    padding: 14px 0;
    width: 40%;
}
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
}
input:focus {
    border: 1px solid #4CAF50;
    color: lightblue;
    background-color: rgba(82, 45, 45, 0.466);
}
input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px black;
}

input[type=button]:hover {
    background-color: rgba(144, 233, 148, 0.568);
} 
p {
    padding: 1rem 0;
    font-size: 0.9rem;
    text-align: center;
}
p a {
    text-decoration: none;
}
.mcenter {
    text-align: center;
}